<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Disease</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Disease.css') }}">
</head>
<body>
    <div id="navbar">
        {% include 'navbar.html' %}
    </div>
    <div class="sidebar">
        <button onclick="window.location.href='/'">Home</button>
    </div>
    <div class="container">
        <div class="box">
            <h2>Predicted Disease</h2>
            <div class="prediction-details">
                <h3>Predicted disease:</h3>
                <p id="predicted-disease">{{ predicted_disease }}</p>
            </div>
        </div>
        <div class="table-container">
            <h2 id="bashar">Details</h2>
            <div class="details-section">
                <h3>Description</h3>
                <p id="description">{{ description }}</p>
            </div>
            <div class="details-row">
                <div class="details-section">
                    <h3>Symptoms</h3>
                    <ul id="symptoms-list">
                        {% for symptom in symptoms %}
                        <li>{{ symptom }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="details-section">
                    <h3>Medications</h3>
                    <ul id="medications-list">
                        {% for medication in medications %}
                        <li>{{ medication }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="details-row">
                <div class="details-section">
                    <h3>Diet</h3>
                    <ul id="diet-list">
                        {% for item in diet %}
                        <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="details-section">
                    <h3>Precautions</h3>
                    <ul id="precautions-list">
                        {% for precaution in precautions %}
                        <li>{{ precaution }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="details-section">
                <h3>Workout</h3>
                <ul id="workout-list">
                    {% for item in workout %}
                    <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/find_med.js') }}"></script>
</body>
</html>
