<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <title>Navbar</title>
</head>
<body>
    <nav>
        <div class="navbar-container">
            <div class="burger-menu" id="burger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div>
                {% if session['is_logged_in'] %}
                <div class="greeting">Hello Dr. {{ session['username'] }}</div>
                {% endif %}
            </div>
            <div class="navbar-search-container">
                <input type="text" id="navbar-search" placeholder="Enter medicine name">
                <button id="search-button">FDA Search</button>
                <div id="navbar-suggestions" class="suggestions"></div>
            </div>
            <a href="{{ url_for('logout') }}" class="logout">Logout</a>
        </div>
        <ul id="nav-links" class="nav-links">
            <li><a href="{{ url_for('homepage') }}">Home</a></li>
            <li><a href="{{ url_for('symptoms') }}">Diseases</a></li>
            <li><a href="{{ url_for('bones_page') }}">Bones</a></li>
            <li><a href="{{ url_for('lung_page') }}">X-Ray </a></li>
            <li><a href="{{ url_for('lung_page') }}">Brain </a></li>
        </ul>
    </nav>

    <script>
        document.getElementById('burger-menu').addEventListener('click', function() {
            document.getElementById('nav-links').classList.toggle('active');
        });

        document.getElementById('search-button').addEventListener('click', function() {
            var query = document.getElementById('navbar-search').value;
            if (query) {
                fetch('/FDA_search?query=' + query)
                    .then(response => response.json())
                    .then(data => {
                        // Handle the response data here
                        console.log(data);
                        // Display suggestions if any
                        var suggestions = data.suggestions || [];
                        var suggestionsContainer = document.getElementById('navbar-suggestions');
                        suggestionsContainer.innerHTML = '';
                        suggestions.forEach(function(suggestion) {
                            var suggestionElement = document.createElement('div');
                            suggestionElement.className = 'suggestion';
                            suggestionElement.textContent = suggestion.name;
                            suggestionsContainer.appendChild(suggestionElement);
                        });
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        });
    </script>
    <script src="{{ url_for('static', filename='js/find_med.js') }}"></script>
</body>
</html>