<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <title>Navbar</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('homepage') }}">Home</a></li>
            <li><a href="{{ url_for('medicine') }}">Medicine</a></li>
            <li><a href="{{ url_for('symptoms') }}">Diseases</a></li>
            <li>
                <a href="{{ url_for('lung_page') }}">
                    <img src="{{ url_for('static', filename='images/chest_icon.svg.png') }}" alt="Lung Info" style="height: 40px; width: 50px;">
                </a>
            </li>
            <li>
                <a href="{{ url_for('homepage') }}">
                    <img src="{{ url_for('static', filename='images/brain.png') }}" alt="Lung Info" style="height: 40px; width: 50px;">
                </a>
            </li>
            <li class="navbar-search-container">
                <input type="text" id="navbar-search" placeholder="Enter medicine name">
                <div id="navbar-suggestions" class="suggestions"></div>
            </li>
        </ul>
    </nav>

    <script>
        const fileInput = document.getElementById('fileInput');
        const imageDisplay = document.getElementById('imageDisplay');
        const predictButton = document.getElementById('predictButton');
        let selectedFile;

        fileInput.addEventListener('change', (event) => {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = (e) => {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    imageDisplay.innerHTML = '';
                    imageDisplay.appendChild(img);
                }
                reader.readAsDataURL(file);
                selectedFile = file;
            }
        });

        predictButton.addEventListener('click', () => {
            if (selectedFile) {
                const formData = new FormData();
                formData.append('file', selectedFile);

                fetch('/lung_page', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    // Handle the response data here
                    alert('Prediction: ' + data.prediction);
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred. Please try again.');
                });
            } else {
                alert('Please upload an image first.');
            }
        });
    </script>
</body>
</html>
