<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chest X-Rays</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/xray.css') }}">
</head>
<body>
    <div id="navbar">
        {% include 'navbar.html' %}
    </div>
    <div class="title-container">
        <h1 class="title"><span class="dark-blue">Kal</span> <span class="white">Medi</span></h1>
    </div>

    <div class="container">
        <h1 id="h1Content">{{ h1_content }}</h1>
        <input type="file" id="fileInput" accept="image/*">
        <div id="imageDisplay"></div>
        <button id="predictButton">Check</button>
        <div id="predictionResult"></div>
    </div>
            <div id="feedbackSection">
                <h2>Feedback</h2>
                <label for="feedbackLabel">Select Label:</label>
                <select id="feedbackLabel">
                    {% for label in labels %}
                    <option value="{{ label }}">{{ label }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="feedbackText">Comments:</label>
                <textarea id="feedbackText" rows="4" cols="50"></textarea>
                <br>
                <button id="submitFeedbackButton">Submit Feedback</button>
            </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const fileInput = document.getElementById('fileInput');
            const imageDisplay = document.getElementById('imageDisplay');
            const predictButton = document.getElementById('predictButton');
            const predictionResult = document.getElementById('predictionResult');
            const submitFeedbackButton = document.getElementById('submitFeedbackButton');
            const feedbackLabel = document.getElementById('feedbackLabel');
            const feedbackText = document.getElementById('feedbackText');
            const h1Content = document.getElementById('h1Content').textContent;
            let selectedFile;
            let selectedFileName;

            fileInput.addEventListener('change', (event) => {
                const file = event.target.files[0];
                if (file) {
                    selectedFileName = file.name;
                    const reader = new FileReader();
                    reader.onload = (e) => {
                        const img = document.createElement('img');
                        img.src = e.target.result;
                        img.style.width = '100%';
                        img.style.height = 'auto';
                        imageDisplay.innerHTML = '';
                        imageDisplay.appendChild(img);
                    }
                    reader.readAsDataURL(file);
                    selectedFile = file;
                }
            });

            predictButton.addEventListener('click', () => {
                if (selectedFile) {
                    const formData = new FormData();
                    formData.append('file', selectedFile);
                    const keyword = h1Content.split(' ')[0];

                    const url = `/${encodeURIComponent(keyword)}`;

                    fetch(url, {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        // Handle the response data here
                        predictionResult.innerText = 'Prediction: ' + data.prediction;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('An error occurred. Please try again.');
                    });
                } else {
                    alert('Please upload an image first.');
                }
            });

            submitFeedbackButton.addEventListener('click', () => {
                if (!selectedFileName) {
                    alert('Please upload an image first.');
                    return;
                }

                const feedback = {
                    pictureName: selectedFileName,
                    label: feedbackLabel.value,
                    comments: feedbackText.value,
                    prediction: predictionResult.innerText
                };

                fetch('/submit-feedback', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(feedback)
                })
                .then(response => response.json())
                .then(data => {
                    alert('Feedback submitted successfully');
                    feedbackText.value = '';
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while submitting feedback. Please try again.');
                });
            });
        });
    </script>
    <script src="{{ url_for('static', filename='js/find_med.js') }}"></script>
</body>
</html>
